* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

 h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}
a{
    text-decoration: none !important;
}


text-decoration: none;
}

.checked {
  color: orange;
}
.titlee {
  color: grey;
}

/*Log in and sign up*/

.log {
    
    background: url('6.jpg') no-repeat center center/cover;
    color: #fff;
    min-height: 100vh;
}

.sign{
    background: url('../image/reg.jpg') no-repeat center center/cover;
    color: #fff;
    min-height: 100vh;
}

.addbook{
    background: url('../image/addbook.jpg') no-repeat center center/cover;
    color: #fff;
    min-height: 100vh;
}


#container {
    margin: auto;
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 25px auto;
    width: 900px;
}


 bold 25px Helvetica, Arial, sans-serif;
  letter-spacing: -0.05em;
  line-height: 20px;
  margin: 10px 0 30px;
}

#content h1 {
    text-align: center;
    color: #333;
    position: absolute;
    top: 40px;
}
#content h1:before,
#content h1:after {
  content: "";
  height: 1px;
  position: absolute;
  top: 14%;
  width: 27%;
}
#content h1:after {
  background: rgb(126,126,126);
  background: linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
  right: 0;
}
#content h1:before {
  background: rgb(126,126,126);
  background: linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
  left: 0;
}
#content:after,
#content:before {
  background: #e9e9e9;
  background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
  border: 1px solid #c4c6ca;
  content: "";
  display: block;
  height: 100%;
  left: -1px;
  position: absolute;
  width: 100%;
}
#content:after {
  transform: rotate(2deg);
  top: 0;
  z-index: -1;
}
#content:before {
  transform: rotate(-3deg);
  top: 0;
  z-index: -2;
}
#content form { margin: 0 20px; position: relative }
#content form input[type="text"],
#content form input[type="password"] {
  border-radius: 3px;
  box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
  transition: all 0.5s ease;
  background: #eae7e7 url(https://cssdeck.com/uploads/media/items/8/8bcLQqF.png) no-repeat;
  border: 1px solid #c8c8c8;
  color: #777;
  font: 13px Helvetica, Arial, sans-serif;
  margin: 0 0 10px;
  padding: 15px 10px 15px 40px;
  width: 100%;
}

#content form input[type="text"]:focus,
#content form input[type="password"]:focus {
  box-shadow: 0 0 2px #ed1c24 inset;
  background-color: #fff;
  border: 1px solid #ed1c24;
  outline: none;
}
#username { background-position: 10px 10px !important }
#password { background-position: 10px -53px !important }
#content form input[type="submit"] {
  background: rgb(254,231,154);
  background: linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
  border-radius: 30px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
  border: 1px solid #D69E31;
  color: #85592e;
  cursor: pointer;
  float: left;
  font: bold 15px Helvetica, Arial, sans-serif;
  height: 35px;
  margin: 20px 0 35px 15px;
  position: relative;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  width: 120px;
}
#content form input[type="submit"]:hover {
  background: rgb(254,193,81);
  background: linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
}
#content form div a {
  color: #004a80;
    font-size: 16px;
    margin: 30px 15px 0 0;
}

#content form div a:hover {
    text-decoration: underline;
}

#content button,
.button2 {
    text-align: center;
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    background: #3195d8;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
}

#content button:hover,
.button2:hover {
     background: #2777ac;
     color: #fff;
}

.button2 a{ 
    color: #fff;
}


display-flex, .signup-content, .form-row, .form-radio, .select-icon, .select-icon i {
  display: flex;
  display: -webkit-flex; }


list-type-ulli {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a:focus, a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
}


.reg_img {
  max-width: 100%;
  height: 80vh; }


.add {
  font-size: 13px;
  line-height: 1.8;
  color: #222;
  font-weight: 400;
  background: url('3.jpg') no-repeat center center/cover;
  padding: 8vh 0; }

.contain {
  width: 60%;
  position: relative;
  margin: 0 auto;
  background: #fff; }


  .signup-content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
.signup-img, .signup-form {
  width: 100%; }

.signup-img {
  margin-bottom: -7px; }

.register-form {
  padding: 50px 100px 50px 70px; }

.form-row {
  margin: 0 -15px; }
  .form-row .forms {
    width: 50%;
    padding: 0 15px; }

.forms {
  margin-bottom: 23px;
  position: relative; }

.register-form input, .register-form select, .register-form textarea {
  display: block;
  width: 100%;
  border: 2px solid #ebebeb;
  padding: 11px 20px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 13px; }
.register-form input:focus, .register-form select:focus , .register-form textarea:focus {
    border: 2px solid #3195d8; }

/*
.register-form input:hover, .register-form select:hover {
    border: 1px solid #3195d8; }
*/

.register-form label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 2px;
  display: block; }



.form-select {
  position: relative; }

.register-form select {
  appearance: none !important;
  position: relative;
  background: 0 0;
  z-index: 10;
  cursor: pointer; }

.form-submit {
    text-align: right;
    padding-top: 27px; 
    display: flex;
    flex-direction: column;
}


  .form-submit span {
    width: 100%;
      display: inline-block;
  }
.submit {
  width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
  height: 40px;
  display: inline-block;
  font-weight: 400;
  font-size: 13px;
  padding: 10px;
  border: none;
  cursor: pointer; }

#submit {
  background: #3195d8;
  color: #fff; }
  #submit:hover {
    background-color: #2777ac; }

@media screen and (max-width: 992px) {
  .contain {
    width: calc(100% - 40px);
    max-width: 100%; }

  .signup-content {
    flex-direction: column;}

  .signup-img, .signup-form {
    width: 100%; } }
@media screen and (max-width: 768px) {
  .register-form {
    padding: 50px 40px 50px 40px; } }
@media screen and (max-width: 575px) {
  .form-row {
    flex-direction: column;
    margin: 0px; }

  .form-row .forms {
    width: 100%;
    padding: 0px; }
}
@media screen and (max-width: 480px) {

  .submit {
    width: 100%; }

  #reset {
    margin-right: 0px;
    margin-bottom: 10px; } }